*
!.tests
!.tests/**
!assets
!assets/**
!config
!config/*
!config/samples/config.yaml
!config/samples/samples.csv
!resources
!workflow
!workflow/**
!.editorconfig
!.gitattributes
!.gitignore
!.snakemake-workflow-catalog.yml
!LICENSE
!README.md